{% extends "parcels/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<main>
    {% if advert_list %}

    <div class="d-flex justify-content-center">
        <div class="w-100 p-3">
            <form method="post" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-flex justify-content-center">
                    <button class="btn btn-outline-success" type="submit" onclick="clearScrollPos()">Szukaj</button>
                </div>
            </form>
            <br>
        {% if search_text and search_text != 'None' %}
        <div class="d-flex justify-content-center">
            <button class="btn btn-outline-success" type="submit" onclick="clearScrollPos()">
              {% if request.session.view_name == 'favourites' %}
				<a class="btn btn-sm" href="{% url 'parcels:favourite_list' %}?page={{ page }}">Usuń wyszukiwanie</a>
			  {% else %}
				<a class="btn btn-sm" href="{% url 'parcels:advert_list' %}?place={{ place }}&price={{ price }}&area={{ area }}&page={{ page }}">Usuń wyszukiwanie</a>
			  {% endif %}
            </button>
        </div>
        {% endif %}
        </div>
    </div>
    <br>

    <div class="container">
      <div class="btn-group">
        {% if user.is_authenticated %}
          {% if request.session.view_name != 'favourites' %}
          <button type="button" class="btn btn-sm btn-outline-secondary">
            <a class="btn btn-sm" href="{% url 'parcels:save_all_adverts' %}?place={{ place }}&price={{ price }}&area={{ area }}&search_text={{ search_text }}">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Zapisz wszystkie
            </a>
          </button>
          {% endif %}
          <button type="button" class="btn btn-sm btn-outline-secondary">
            <a class="btn btn-sm" href="{% url 'parcels:delete_all_adverts' %}?place={{ place }}&price={{ price }}&area={{ area }}&search_text={{ search_text }}">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Usuń wszystkie
            </a>
          </button>
          <button type="button" class="btn btn-sm btn-outline-secondary">
            <a class="btn btn-sm" href="{% url 'parcels:download_csv' %}?place={{ place }}&price={{ price }}&area={{ area }}&search_text={{ search_text }}">Pobierz jako plik csv</a>
          </button>
          {% if user.is_authenticated %}
          <button type="button" class="btn btn-sm btn-outline-secondary">
            <a class="btn btn-sm" href="{% url 'parcels:send_csv' %}?place={{ place }}&price={{ price }}&area={{ area }}&search_text={{ search_text }}">Wyślij email z plikiem csv</a>
          </button>
          {% endif %}
        {% else %}
          <p>Zaloguj się, aby usyskać więcej opcji.</p>
        {% endif %}
      </div>
    </div>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      {% for advert in page_obj %}
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><image href="{{ advert.image_url }}" height="100%" width="100%"/></svg>

            <div class="card-body">
              <h5  class="card-text">{{ advert.place }}</h5>
              <h6  class="card-text">{% if advert.county != 'brak danych' %}powiat {{ advert.county }}{% endif %}</h6>
              <h6  class="card-text">{{ advert.price }} PLN</h6>
              <h6  class="card-text">{{ advert.area }} m2</h6>
              <h6  class="card-text">{{ advert.price_per_m2 }} PLN/m2</h6>
              <p class="card-text" style="display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; overflow: hidden;">{{ advert.description }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">
                    <a class="btn btn-sm" href="{% url 'parcels:advert_detail' pk=advert.pk %}{% if request.session.view_name != 'favourites' %}?place={{ place }}&price={{ price }}&area={{ area }}&{% else %}?{% endif %}search_text={{ search_text }}&page={{ page_obj.number }}">Wyświetl</a>
                  </button>
                  {% if user.is_authenticated %}
                      {% if advert in request.saved_adverts %}
                        <button type="button" class="btn btn-sm btn-outline-secondary">
                          <a class="btn btn-sm" href="{% url 'parcels:delete_advert' pk=advert.id %}">
                              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            Usuń</a>
                        </button>
                      {% else %}
                        <button type="button" class="btn btn-sm btn-outline-secondary">
                          <a class="btn btn-sm" href="{% url 'parcels:save_advert' pk=advert.id %}">
                              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            Zapisz</a>
                        </button>
                      {% endif %}
                  {% endif %}
                </div>
                <small class="text-muted">{{ advert.date_added }}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <nav aria-label="...">
      <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" onclick="clearScrollPos()" href="{% if request.session.view_name != 'favourites' %}?place={{ place }}&price={{ price }}&area={{ area }}&{% else %}?{% endif %}search_text={{ search_text }}&page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        {% endif %}
        <li class="page-item active">
          <a class="page-link" href=#>{{ page_obj.number }}</a>
        </li>
        {% if page_obj.has_next %}
          <li class="page-item">
              <a class="page-link" onclick="clearScrollPos()" href="{% if request.session.view_name != 'favourites' %}?place={{ place }}&price={{ price }}&area={{ area }}&{% else %}?{% endif %}search_text={{ search_text }}&page={{ page_obj.next_page_number }}">Next</a>
          </li>
        {% else %}
          <li class="page-item disabled">
              <a class="page-link" href="#">Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>

    {% else %}
      <h2>Brak wyników wyszukiwania.</h2>
    {% endif %}

</main>

{% load static %}
<script src="{% static 'js/scripts.js' %}"></script>

{% endblock %}
