{% extends "parcels/base.html" %}
{% block content %}

<div class="container">
	<a class="btn btn-default" href="{{ advert.link }}">Link do ogłoszenia</a>
	{% if user.is_authenticated %}
		{% if advert.id in fav_id %}
			<a class="btn btn-default" href="{% url 'parcels:remove_favourite' place=place price=price area=area pk=advert.pk user_id=user.id %}">
			    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Usuń z ulubionych
			</a>
		{% else %}
			<a class="btn btn-default" href="{% url 'parcels:make_favourite' place=place price=price area=area pk=advert.pk user_id=user.id %}">
			    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> Dodaj do ulubionych
			</a>
		{% endif %}
			<a class="btn btn-default" href="{% url 'parcels:advert_list_when_login' place=place price=price area=area user_id=user.id %}">Powrót do listy ogłoszeń</a>
	{% else %}
		<a class="btn btn-default" href="{% url 'parcels:advert_list_when_logout' place=place price=price area=area %}">Powrót do listy ogłoszeń</a>
	{% endif %}

	<h1 class="posttitle">{{ advert.place }}</h1>
	<h2 class="posttitle">{{ advert.county }}</h2>
	<h3 class="posttitle">Cena: {{ advert.price }} PLN</h3>
	<h3 class="posttitle">Cena za metr kwadratowy: {{ advert.price_per_m2 }} PLN/m2</h3>
	<h3 class="posttitle">Powierzchnia: {{ advert.area }} m2</h3>	
	<h3 class="posttitle">Data dodania: {{ advert.date_added }}</h3>
	<h3>Opis</h3>	
	<p class="posttitle">{{ advert.description }}</p>


</div>

{% endblock %}
