{% extends "parcels/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="d-flex justify-content-center">
	<div class="w-50 p-3">
		<form method="post" novalidate>
			{% csrf_token %}
			{{ form|crispy }}
			<br>
			<div class="d-flex justify-content-center">
				<button type="submit" class="btn btn-success">Szukaj</button>
			</div>
		</form>
	</div>
</div>

<script>
	window.onbeforeunload = function(e) {
	sessionStorage.removeItem('scrollpos')
	};
</script>

{% endblock %}
