<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Parcels</title>

	<!-- Bootstrap -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>
<body>
<div class="container">
	<div class="jumbotron">
		<nav class="navbar navbar-default">
			<ul class="nav navbar-nav">
				<li><a class="navbar-brand" href="{% url 'parcels:index' %}">Home</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{% if user.is_authenticated %}

	        		<li><a href="{% url 'parcels:favourite_list' user_id=user.id %}">Ulubione</a></li>
	        		<li><a>Witaj: {{ user.username }}</a></li>
	        		<li><a href="{% url 'parcels:logout' %}">Wyloguj</a></li>

				{% else %}

	        		<li><a href="{% url 'parcels:login' %}">Zaloguj</a></li>
	        		<li><a href="{% url 'parcels:register' %}">Zarejestruj</a></li>

	        	{% endif %}

        	</ul>
		</nav>
			<h1>Parcels Scraper</h1>
			<p>Aplikacja służy do szukania działek budowlanych najlepiej odpowiadających Twoim oczekiwaniom.</p>
		</div>

	</div>
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="blog_posts">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</div>
</div>

</body>
</html>
