{% extends "parcels/base.html" %}
{% block content %}

<div class="container">
	<a class="btn btn-default" href="{{ advert.link }}">Link do ogłoszenia</a>
	{% if user.is_authenticated %}
	{% if advert in adverts %}
	<a class="btn btn-default" href="{% url 'parcels:remove_favourite_from_favourites' pk=advert.pk user_id=user.id action='remove' path_name='favourite_detail' %}">
	    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Usuń z ulubionych
	</a>
	{% else %}
	<a class="btn btn-default" href="{% url 'parcels:make_favourite_from_favourites' pk=advert.pk user_id=user.id action='add' path_name='favourite_detail' %}">
	    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> Dodaj do ulubionych
	</a>
	{% endif %}
	{% endif %}

	<a class="btn btn-default" href="{% url 'parcels:favourite_list' user_id=user.id %}">Powrót do listy ulubionych</a>
	
	<h1 class="posttitle">{{ advert.place }}</h1>
	<h2 class="posttitle">{{ advert.county }}</h2>
	<h3 class="posttitle">Cena: {{ advert.price }} PLN</h3>
	<h3 class="posttitle">Cena za metr kwadratowy: {{ advert.price_per_m2 }} PLN/m2</h3>
	<h3 class="posttitle">Powierzchnia: {{ advert.area }} m2</h3>	
	<h3 class="posttitle">Data dodania: {{ advert.date_added }}</h3>
	<h3>Opis</h3>	
	<p class="posttitle">{{ advert.description }}</p>


</div>

{% endblock %}
